<launch>

<!--Spawn turtlebot3 from turtlebot repository-->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="-2.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="yaw_pos" default ="-1.57"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find models)/turtlebot3_burger.urdf.xacro" />

<!--include gazebo node to spawn model in gazebo-->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" 
  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw_pos) -param robot_description" />
 <!--Use turtlebot's teleop key to move the bot in gazebo-->
  <node pkg="fetch_follow_target" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen">
  </node>
</launch>
