<launch>

  <env name="GAZEBO_MODEL_PATH" value="$(find fetch_follow_target)/models:$(optenv GAZEBO_MODEL_PATH)" />

  <!-- FetchBot Launch Parameters -->
  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="0.0" />
  <arg name="yaw" default="-1.57" />
  <arg name="robot" default="fetch"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>

  <!-- TurtleBot Launch Parameters-->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="tb3"  default="tb3_0"/>
  <arg name="tb3_x_pos" default="0.0"/>
  <arg name="tb3_y_pos" default="-1.5"/>
  <arg name="tb3_z_pos" default=" 0.0"/>
  <arg name="tb3_yaw"   default=" 1.65"/>

  <!-- Start Gazebo with a blank world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(find fetch_follow_target)/worlds/maze.sdf"/>
  </include>

  <!-- Launch Fetch Robot as "robot" -->
  <include file="$(find fetch_gazebo)/launch/include/$(arg robot).launch.xml">
    <arg name="x" value="$(arg x)" />
    <arg name="y" value="$(arg y)" />
    <arg name="z" value="$(arg z)" />
    <arg name="yaw" value="$(arg yaw)" />
  </include>

  <!-- Launch turtlebot as "tb3" -->
  <group ns = "$(arg tb3)">
    	<include file="$(find fetch_follow_target)/launch/spawn_sdf.launch">
      <arg name="robot_name" value="turtlebot_burger"/>
      <arg name="x" value="3.0"/>
      <arg name="y" value="2.0"/>
      <arg name="z" value="0.0"/>
      <arg name="sdf_robot_file" value="$(find fetch_follow_target)/models/custom_turtle/model.sdf"/>
    </include>
  </group>

</launch>

