<launch>

    <!--Create an empty world-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find fetch_follow_target)/worlds/target_follow_maze.world"/>
        <arg name="verbose" value="true" />
  </include>

    <include file="$(find fetch_follow_target)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="turtleBot" />
        <arg name="x" default="0.0"/>
        <arg name="y" default="-2.0"/>
        <arg name="z" default="0.0"/>
        <arg name="yaw" default ="-1.57"/>
        <arg name="sdf_robot_file" value="$(find fetch_follow_target)/models/turtleBot/model.sdf" />
    </include>

</launch>